<html>
    {{>head}}
    <body>
        <div class="container">
            <div class="row">
              <h1> {{ opts.siteName }} </h1>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{{ body }}}
                </div>
            </div>
        </div>
    {{>scripts}}
    </body>
</html>
